textarea{
<<<<<<< HEAD
  height: 150px;
}
input{
  padding: 5px;
=======
  width: 50%;
  height: 150px;
}
input{
  display: flex;
  justify-content: flex-start;
>>>>>>> maxime
}
body{
  font-family: arial, bold;
  color: white;
}
h1{
  display: flex;
  justify-content: center;
}
<<<<<<< HEAD
h2{
  text-align: center;
}
.all{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 60px;
}
=======
>>>>>>> maxime
