*{
  margin : 0;
  padding : 0;
}
.img{
width: 297px;
height: 480px;
}
.titre{
  color: white;
}
.container{
  display: grid;
  grid-template-columns: repeat(5 , 20%);
  width: 100%;
  font-family: arial;
  background-color: #5C85A6;
  color: white;
}
.position{
  display: grid;
  margin: 20px auto;
}
@media screen and (max-width: 992px){
 .livre3{ display: none}
 .texte1{ margin: 20px 0px 40px 163px}
 .textcenter {flex-direction: column;}
 .container{text-align: center;}
