*{
  margin : 0;
  padding : 0;
}
body{
  background-color: #5C85A6;
}
<<<<<<< HEAD
.img{
width: 297px;
height: 480px
=======
.img img{
  width: 297px;
  height: 480px;
}

.textcenter{
  display: flex;
  justify-content:space-around;
  flex-direction: row;
>>>>>>> maxime
}
.titre{
  color: white;
}
.container{
<<<<<<< HEAD
  display: grid;
  grid-template-columns: repeat(5 , 20%);
  width: 100%;
  font-family: arial;
  background-color: #5C85A6;
  color: white;
}
.position{
  display: grid;
  margin: 20px auto;
}
@media screen and (max-width: 992px){
 .livre3{ display: none}
 .texte1{ margin: 20px 0px 40px 163px}
 .textcenter {flex-direction: column;}
 .container{text-align: center;}
=======
  font-family: arial;
  background-color: #5C85A6;
  color: white;
  padding: 0 100px 50px;
  flex-direction: column;
  display: flex;
}
.selection{
  color: #5C85A6;
  margin-left: 200px;
  height: 200%;
}
@media (min-width : 601px) and (max-width: 992px){
 .livre3{ display: none}
 .texte1{ font-size: 40px; margin: 20px 0px 40px 163px}
 .textcenter {flex-direction: column;}
 .container{margin: 0px 0px 0px 250px}
 .titre{margin: 0 0 10px 0}
 p{margin: 0 0 30px 0}
>>>>>>> maxime
}
